/* styles.css
 * Better styling for of Nginx FancyIndex page
 * © 2015-17, Lilian Besson (Naereen) and contributors,
 * open-sourced under the MIT License, https://lbesson.mit-license.org/
 * hosted on GitHub, https://GitHub.com/Naereen/Nginx-Fancyindex-Theme
 */

:root {
	--body-bg-color: #FFFFFF;
	--body-text-color: #61666C;
	--link-color: #5F5F5F;
	--link-hover-color: #000000;
	--link-hover-decoration: none;
	--link-visited-color: #666;
	--search-bg-color: #FFFFFF;
	--search-color: #CCCCCC;
	--tr-hover: #000000;
	--tr-hover-bg: #F6F6F6;
	--footer-link-color: #990012;
}

@media(prefers-color-scheme: dark) {
	:root {
		--body-bg-color: #2F343F;
		--body-text-color: #FFFFFF;
		--link-color: #FFFFFF;
		--link-hover-color: #FFFFFF;
		--link-hover-decoration: underline;
		--link-visited-color: #666;
		--search-bg-color: #262A32;
		--search-color: #FFFFFF;
		--tr-hover: #FFFFFF;
		--tr-hover-bg: #3D4351;
		--footer-link-color: #FFFFFF;
	}
}

body {
	font-family: sans-serif;

	margin: 0 auto;
	padding-top: 20px;
	background-color: var(--body-bg-color);
	color: var(--body-text-color);
}

code {
	padding: .2em .4em;
	margin: 0;
	font-size: 95%;
	white-space: break-spaces;
	background-color: rgba(175,184,193,0.2);
	border-radius: 6px;
}

h1 {
	font-weight: bold;
	font-size: 1.4em;
}

h1#dir_path {
	text-align: center;
}

a {
	color: var(--link-color);
	text-decoration: none;
}
a:hover {
	color: var(--link-hover-color);
	text-decoration: var(--link-hover-decoration);
}
a.clear, a.clear:link, a.clear:visited {
	color: var(--link-visited-color);
	padding: 2px 0;
	font-weight: 400;
	font-size: 1em;
	margin: 0 0 0 20px;
	line-height: 14px;
	display: inline-block;
	border-bottom: transparent 1px solid;
	vertical-align: -10px;
	transition: all 300ms ease-in;
}

input {
	display: inline-block;
	padding: 4px 32px 4px 6px;
	width: 196px;
	height: 20px;

	vertical-align: middle;
	overflow: visible;
	font-size: 0.8em;
	font-weight: 300;
	line-height: normal;
	line-height: 20px;

	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);

	transition: border linear .2s, box-shadow linear .2s;
}
input:focus {
	outline: 0;
	border-color: rgba(0,0,0,0.8);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.6);
}

#search {
	display: block;
	box-sizing: content-box;
	margin-left: auto;
	margin-right: auto;
	width: 250px;

	color: var(--search-color);
	background-color: var(--search-bg-color);
}

table {
	border-collapse: collapse;
	margin: 20px auto 0;

	font-size: 0.9em;
	line-height: 2em;
}

thead {
	font-size: 1.2em;
	font-weight: 200;
}

tr {
	outline: 0;
	border: 0;
}
tr:hover {
	color: var(--tr-hover);
	background: var(--tr-hover-bg);
}
tr > td.link {
	padding-left: 10px;
	padding-right: 10px;
}

/* NOTE(rtk0c): I don't think fancyindex emits the .parent class for .. anymore */
.parent > a {
	color: #9099A3;
}
.parent > a:hover {
	color: #2A2A2A;
}


th {
	text-align: left;
	font-size: .75em;
	padding-right: 20px;
}
th + th {
	width: 25%;
}
th + th + th + th {
	width: 5%;
}

td {
	padding: 5px 0;
	outline: 0;
	border: 0;
	border-bottom: 1px solid #edf1f5;
	vertical-align: middle;
	text-align: left;
	transition: background 300ms ease-in;
}

td:last-child,
th:last-child {
	text-align: right;
	padding-right: 0;
}

.readme {
	margin-top: 3em;
	margin-bottom: 5em;
	margin-left: auto;
	margin-right: auto;

	/* Recommended here, I guess (16px font and 26px height) https://css-tricks.com/six-tips-for-better-web-typography */
	line-height: 1.6em;
	max-width: 90ch;
}

footer {
	font-size: 0.8em;
	text-align: center;
}
footer a {
	text-decoration: underline;
	color: var(--footer-link-color);
}
